<%- include("../partials/header") %>

<div class="container" style="background-color:#E0D98C ;">
  <div class="jumbotron text-light my-4 my-lg-5 py-3 " style="background-color: #E0D98C; ">
    <h3 style="color: black;">Welcome to Course Bazaar</h3>
  </div>
  <div class="row">
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://www.edubull.com/Content/eRepository/Course_Thumb/34075.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Web Development Courses</h5>
        <p class="card-text">
          Various web development courses available on Course Bazaar.
        </p>
        <a href="/home/web" class="btn" style="background-color:#C3FF99;">Check Here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://www.edubull.com/Content/eRepository/Course_Thumb/3407.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Database Courses</h5>
        <p class="card-text">
          Database courses available by Industry experts.
        </p>
        <a href="/home/database"class="btn" style="background-color:#C3FF99 ;">Check Here</a>
      </div>
    </div>
    <div class="card ml-5" style="width: 20rem">
      <img
        class="card-img-top"
        src="https://www.edubull.com/Content/eRepository/Course_Thumb/34058.jpg"
        alt="Card image cap"
        height="300px"
      />
      <div class="card-body">
        <h5 class="card-title">Python Courses</h5>
        <p class="card-text">
          Python courses available on Course Bazaar.
        </p>
        <a href="/home/scripting" class="btn" style="background-color:#C3FF99 ;">Check Here</a>
      </div>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
